
<section class="cid-rg0jDSoXm9 mbr-fullscreen" id="header15-8">
    <div class="align-left ">

        <div class="col-12 align-left bolsas" data-form-type="formoid">
            <div class="mbr-white col-lg-8 col-md-12 align-left" >
                <h1 class=" mbr-bold mbr-fonts-style display-5">
                    Bolsas de até 50%
                </h1>
                <p class="mbr-text pb-3 ">
                    Use o formulário a baixo para pesquisar bolsas disponíveis em sua cidade.
                </p>
            </div>
            <form class="mbr-form" action="/" method="post" data-form-title="Mobirise Form">
                <div data-for="UF" class="form-group">
                    <select id="uf" name="uf" class="form-control" >
                        <option value="">Escolha um Estado</option>
                        <?php foreach ($estados as $e): ?>
                        <option value="<?= $e['id'] ?>"><?= utf8_encode($e['nome']) ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <select id="cidade" name="cidade" class="form-control">
                        <option>Escolha uma Cidade</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="unidades" name="unidades" class="form-control">
                        <option>Escolha um Faculdade</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="curso" name="curso" class="form-control">
                        <option>Escolha um Curso</option>
                    </select>
                </div>
                <div class="form-group">
                    <button href="" type="button" id="buscar" class="btn btn-lg btn-form display-3">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</section>
<div class="container-fluid">
    <h2>Cursos</h2>
</div>

<div class="container-fluid  cid-rg0hEO5Sci" id="div_cont">
    <div class="row"  style="background: #ffc107; padding: 15px;">
           
        <div class="col-md-2">
            <img class="card-img-top img-rounded" src="imagens/ies/ftc/ftc_logo.png" alt="Card image cap" style="width: 175px;height: 88px">
        </div>

        <div class="col-md-10" >
            <h6 class="mbr-bold mbr-fonts-style display-2">  Engenharia de Petróleo e Gás</h6>
            <p class="mbr-fonts-style display-5">
                O engenheiro de petróleo combina as técnicas da engenharia com conhecimentos em geologia e mineração para descobrir e explorar poços e jazidas de petróleo e gás natural. 
                Ele ainda é preparado para acompanhar a produção e o beneficiamento do material extraído, gerenciar sua comercialização e transporte. Atua principalmente em empresas petrolíferas, 
                refinarias e indústrias petroquímicas.
            </p>
        </div>
        
    </div>
    <div class="row" style="padding: 15px;background: #ffc107;">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-1">
            <p class="h6">  Início</p>
Semestre  2019.2
        </div>
        <div class="col-md-1">
            <p class="h6">  Turno</p>
Matutino
        </div>
        <div class="col-md-1">
            <p class="h6">   Duração</p> 5   Anos
        </div>
        <div class="col-md-1">
            <p class="h6">  Nivel</p>
Bacharelado
        </div>
        <div class="col-md-1">
            <p class="h6"> Modalidade <br>  </p>  
Presencial
        </div>
        <div class="col-md-1">
            <p class="h6">Bolsa </p>
            <b>35%</b>
        </div>
        <div class="col-md-2">
            <p class="h6"> Mensalidade</p>
            <del>  R$1.211,00</del><br>
            <b>R$787,15</b>
        </div>
            <div class="col-md-2">
                <p class="btn_bolsa" id="cadastrar">Eu Quero Esta Bolsa</p>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row cid-rg0hEO5Sci">
        <div class="col-12">

        </div>
    </div>
</div>

<section class="features3 cid-rg0hB15I8t" id="features3-2">




    <div class="container">
        <div class="media-container-row"  >


        </div>
    </div>
</section>